<div>
<p>Currently chatting in <strong><%= @room_id %></strong> as <strong><%= @user %></strong></p>
<div>
    <p>
        Active users: 
         </p>
        <div id="active-users" phx-update="append" class="mb-8">
        <%= for user <- @users do %>
        <li id={user}>
            <%= user %>
        </li>
        <% end %>
    </div>
   
</div>
<h2>Chat</h2>
<div id="chat-messages" phx-update="append">
    <%= for %{uuid: id, content: message, user: user} <- @messages do %>
   <p id={id}><strong><%= "#{user}:" %></strong> <%= message %></p>
    <% end %>
</div>
<%= form_for :chat, "#", [id: "chat-form", phx_submit: :submit_message, phx_change: :form_update], fn f -> %>
  <%= text_input f, :message, placeholder: "Enter your message...", autocomplete: "off", value: @current_message %>
<% end %>
</div>